* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,sans-serif;
}
.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.clock {
  width: 200px;
  height: 200px;
  background-color: lightgray;
  border-radius: 50%;
  border: 3px solid rgba(48, 44, 44, 0.5);
  position: relative;
  display: flex;
  align-items: center;
  justify-content:center ;
  margin-top: 2rem
}
.num p {
  position: absolute;
  font-size: 1.6rem;
  color: rgb(71, 4, 255);
}
.tw {
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
}
.tr{
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
}
.six{
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
}
.nine{
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
}
.arrows{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.arrows::before{
content: "";
display: block;
width: 25px;
height: 25px;
background-color: blue;
border-radius: 50%;
z-index: 5;
}
.arrows div{ 
    position: absolute;
    background-color: black;
    height: 120px;
    width: 4px;
    z-index: 2;
    transform-origin: bottom center;
    bottom: 50%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.arrows .hour{
    height: 45px;
    background-color: gold;
    transform: rotate(30deg);
}
.arrows .minute{
    height: 65px;
    background-color: green;
    transform: rotate(1200deg);
}
.arrows .second{
    height: 90px;
    background-color: red;
    transform: rotate(60deg);
}



